:root {
    --mythicColor: #feb4ce;
}

body {
    background-color: antiquewhite;
}

#results {
    min-height: 75vh;
}

#descInput {
    min-height: 25vh;
}

#resultsDisplay {
    font-size: larger;
}

#faraamQuoteDiv,
#mythicBtnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

#faraamQuoteDiv>p {
    margin-bottom: 0px;
}

#mythicBtn {
    color: white;
    border-color: var(--mythicColor);
    background-color: var(--mythicColor);
}