body{
    background-color: antiquewhite;
}



textarea{
    min-height: 75vh;
}


#resultsDisplay{
    font-size: larger;
}

#faraamQuoteDiv{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

#faraamQuoteDiv > p{
margin-bottom: 0px;
}