:root {
    --mythicColor: #feb4ce;
    --darkColor: #15202b;
    --darkColor2: #8899a6;
    --textColor: #e4e6eb;
}

body, p, .btn, .btn:focus, footer, h1 {
    background-color: var(--darkColor);
    color: var(--textColor);
}

.form-control, .form-select, textarea, .form-control:focus, .form-select:focus {
    background-color: var(--darkColor2);
}

.form-control::placeholder {
    color: black;
    opacity: 0.6;
}

h1 {
    text-align: center;
}

#titleHeader::after, #titleHeader::before {
    content: url(https://cdn.discordapp.com/attachments/895819182673887242/904505077526589470/lwain-memberwhendayisdark-56x56.png);
}

#titleHeader {
    display: flex;
    align-items: center;
}

#results {
    min-height: 45vh;
}

#descInput {
    min-height: 25vh;
}

#resultsDisplay {
    font-size: larger;
}

#faraamQuoteDiv, #mythicBtnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

#faraamQuoteDiv>p {
    margin-bottom: 0px;
}

#mythicBtn {
    color: white;
    border-color: var(--mythicColor);
    background-color: var(--mythicColor);
    margin-bottom: 2vh;
}

hr {
    border-width: 0px;
    visibility: hidden;
}